.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

/* Header styles --------------------------------------------------*/
.header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.appbarWrapper {
  width: 80%;
  margin: 0 auto;
}
.appbarTitle {
  flex-grow: 1;
  color: #929980;
}
.colortext {
  color: #5aff3d;
}
.linkWrapper {
  display: flex;
}
.links {
  color: #929980;
}

/* Landing page styles --------------------------------------------*/
.landing_root {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(170deg, #b0a8b9, white);
}
.header_root {
  height: 100vh;
  width: 100%;
  font-family: "Nunito";
  position: absolute;
  z-index: 1;
  padding-top: 250px;
}
.landing_container {
  text-align: center;
}
.landing_title {
  color: #ffffff;
  font-size: 4.5rem;
}
.landing_goDown {
  color: #5aff3d;
  font-size: 4rem;
}
.card_root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_colorText {
  color: #5aff3d;
}
.landing_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.landing_container2 {
  position: relative;
  background-color: black;
}

.landing_container2 .landing_video {
  position: relative;
  z-index: 0;
  opacity: 0.4;
}

/* Image Card Styles------------------------------------------------ */
.image_card_root {
  max-width: 645px;
  background: rgba(0, 0, 0, 0.5);
  margin: 20px;
}
.image_card_media {
  height: 440px;
}
.image_card_title {
  font-weight: bolder;
  font-size: 2rem;
  color: #000000;
}
.image_card_desc {
  font-family: "Nunito";
  font-size: 1.1rem;
  color: #dddddd;
}

/* Dashboard page Styles ------------------------------------------*/
.dashboard {
  height: 80vh;
  margin: 100px 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_dashboard {
  height: 100%;
  width: 25%;
  padding: 20px;
  background-color: #cccfc4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar_dashboard_links {
  padding: 10px;
  text-align: center;
  color: #646464;
  border-radius: 10px;
  font-size: large;
  font-weight: 600;
  margin-bottom: 5px;
  border: none;
}

.sidebar_dashboard_links:hover {
  background-color: #4e9f3d;
  color: #ffffff;
  cursor: pointer;
}

.sidebar_dashboard_links_active {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: large;
  font-weight: 600;
  margin-bottom: 5px;
  background-color: #4e9f3d;
  color: #ffffff;
  border: none;
}

.mainContent_dashboard {
  height: 80vh;
  width: 70%;
  padding: 20px;
  text-align: center;
  background-color: #c6cfc1;
  border-radius: 10px;
}

.dashboard_details {
  width: 100%;
  margin-top: 40px;
  text-align: left;
  font-size: larger;
}
