.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

/* Header styles --------------------------------------------------*/
.header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.appbarWrapper {
  width: 80%;
  margin: 0 auto;
}
.appbarTitle {
  flex-grow: 1;
  color: #929980;
}
.colortext {
  color: #5aff3d;
}
.linkWrapper {
  display: flex;
}
.links {
  color: #929980;
}

/* Landing page styles --------------------------------------------*/
.landing_root {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(170deg, #b0a8b9, white);
}
.header_root {
  height: 100vh;
  width: 100%;
  font-family: "Nunito";
  position: absolute;
  z-index: 1;
  padding-top: 250px;
}
.landing_container {
  text-align: center;
}
.landing_title {
  color: #ffffff;
  font-size: 4.5rem;
}
.landing_goDown {
  color: #5aff3d;
  font-size: 4rem;
}
.card_root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_colorText {
  color: #5aff3d;
}
.landing_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.landing_container2 {
  position: relative;
  background-color: black;
}

.landing_container2 .landing_video {
  position: relative;
  z-index: 0;
  opacity: 0.4;
}

/* Image Card Styles------------------------------------------------ */
.image_card_root {
  max-width: 645px;
  background: rgba(0, 0, 0, 0.5);
  margin: 20px;
}
.image_card_media {
  height: 440px;
}
.image_card_title {
  font-weight: bolder;
  font-size: 2rem;
  color: #000000;
}
.image_card_desc {
  font-family: "Nunito";
  font-size: 1.1rem;
  color: #dddddd;
}

/* Home page Styles -----------------------------------------------*/
.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e5128;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -350px;
}

.exercise_card {
  width: 400px;
  height: 445px;
  background: #ffffff;
  border-top: 4px solid #4e9f3d;
  box-shadow: 0 0 10px gray;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: wrap;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #ff2625 !important;
  border: 1px solid #ff2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 180px;
  }
}

@media screen and (max-width: 800px) {
  .login__container,
  .signup__container,
  .verify {
    padding: 30px;
  }
}

/* Dashboard page Styles ------------------------------------------*/
.dashboard {
  height: 80vh;
  margin: 100px 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_dashboard {
  height: 100%;
  width: 25%;
  padding: 20px;
  background-color: #cccfc4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar_dashboard_links {
  padding: 10px;
  text-align: center;
  color: #646464;
  border-radius: 10px;
  font-size: large;
  font-weight: 600;
  margin-bottom: 5px;
  border: none;
}

.sidebar_dashboard_links:hover {
  background-color: #4e9f3d;
  color: #ffffff;
  cursor: pointer;
}

.sidebar_dashboard_links_active {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: large;
  font-weight: 600;
  margin-bottom: 5px;
  background-color: #4e9f3d;
  color: #ffffff;
  border: none;
}

.mainContent_dashboard {
  height: 80vh;
  width: 70%;
  padding: 20px;
  text-align: center;
  background-color: #c6cfc1;
  border-radius: 10px;
}

.dashboard_details {
  width: 100%;
  margin-top: 40px;
  text-align: left;
  font-size: larger;
}
